@font-face {
    font-family: 'Jersey';
    src: url('../font/Jersey\ M54.ttf') format('truetype');
}

.rounded-xl {
    border-radius: 1.5em;
}

a {
    font-family: 'Jersey', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jersey', sans-serif;
    text-align: center;
}

a {
    font-family: 'Jersey', sans-serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}