@font-face {
    font-family: 'Jersey';
    src: url('../font/Jersey\ M54.ttf') format('truetype');
}

.bg-cream {
    background-color: #EBEDD7;
}

img {
    width: 100%;
}

.rounded-xl {
    border-radius: 1.5em;
}

.welcome-heading {
    font-family: "Jersey", sans-serif;
}

.subheading-container {
    text-align: center;
    font-family: "Arial", sans-serif;
}

.events-heading {
    font-family: "Jersey", sans-serif;
}

.bg-light-blue {
    background-color: white;
}

body {
    color: black;
    background-color: white;
}

body {
    font-family: 'Jersey', 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Jersey', sans-serif;
}


.card {
    border: 3px solid black;
}

.card:hover {
    background-color: #EBEDD7;
}