@font-face {
    font-family: 'Jersey';
    src: url('../font/Jersey\ M54.ttf') format('truetype');
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #f6f9fc;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.bg {
    height: 100vh;
    display: flex;
    align-items: center;
}

.account-block {
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    position: relative;
    background-position: center;
    background-origin: content-box;
    padding-left: 15px;
    padding-right: 15px;
}

.account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);

}

.text-theme {
    color: #5369f8 !important;
}

.btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #fff;
}

.hidden-span {
    display: none;
}

a, h2, .dropdown-menu, .btn {
    font-family: 'Jersey', sans-serif;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}