@font-face {
    font-family: 'Jersey';
    src: url('../font/Jersey\ M54.ttf') format('truetype');
}

.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover,
.btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover,
.btn-twitter:focus {
    background: #1799e4;
}

a, h1, .btn {
    font-family: 'Jersey', sans-serif;
}

p {
    color: #f9f5f0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}


/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.bg {
    /* background: black; */
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-red {
    background-color: red;
}

.input-c {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #5369f8;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #f6f9fc;
}


.card-style {
    background-color: #ffffff;
    border-radius: 5px;
    /* border: solid 1px black; */
    /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); */
    height: 540px;
    width: auto;
    /* width: 800px; */
    display: flex;
    align-items: center;
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}

.form-control:focus {
    box-shadow: none;
}

@media screen and (max-width: 768px) {
    .card-style {
        width: 100%;
        height: auto;
    }

}